body{
    width: 1260px;
    min-height: 845px; /* altura de la imagen del header + altura del nav + altura de las secciones + altura del footer*/
    margin: 0 auto;
}

header{
    width: 1260px;
    height: 200px;
    background-image: url(../imagenes/descarga.png);
}

nav{
    width: 1260px;
    height: 100px;
    background-color: rgb(255, 160, 160);
    margin-bottom: 45px;
}

main{
    width: 1260px;
    display: flow-root;
    background-color: red; /* le he quitado el color de fondo al section de la derecha para que sea transparente y se pueda ver el color de fondo del main */
}

section:nth-child(1){ /* al meterlo dentro de main, este elemento pasa a ser el 3er hijo de body (su padre en la pagina de pixeles) al 1er hijo de main (su actual padre)*/
    width: 780px; /* ancho total - paddings laterales */
    height: 400px;
    border-left: 20px solid rgb(36, 99, 36);
    padding: 0 10px;
    float: left;
    background-color: rgb(221, 255, 169);
}

section:nth-child(2){ /* lo mismo pasa aquí */
    width: 340px; /* ancho total - paddings laterales */
    height : 400px;
    border-left: 20px solid rgb(36, 99, 36);
    border-right: 20px solid rgb(36, 99, 36);
    padding: 0 30px;
    float: left;
}

footer{
    clear: both; /* para romper el flotamiento en el footer */
    width: 1260px;
    height: 100px;
    color: #FF9;
    background-color: #369;
}

nav>ul{
    margin: 0;
    list-style: none; /* le quitamos los puntos tipicos de lista de la izquierda */
}

nav>ul>li{
    width: 200px;
    line-height: 100px;
    float: left;
    margin-right: 75px;
}

a{ /* no pongo pseudoclase porque solo se aplica un único estilo para todos los enlaces */
    text-decoration: none; /* quitamos el subrayado tipico de los enlaces */
    color: white;
    background-color: rgb(185, 146, 74);
    padding: 10px;
    border-radius: 15px; /* esquinas redondeadas */
}

nav>ul>li:nth-child(3){
    float: right;
}

section:nth-child(1)>p{
    margin: 30px 0 0 0;
    text-align: justify;
}

form{ /* no pongo pseudoclase porque hay un solo form */
    width: 600px;
    height: 150px;
    margin: 0 auto;
    margin-top: 4em;
    text-align: justify;
    background-color: rgb(255, 202, 133);
    padding: 1em 0 1em 70px;
    text-align: left;
    border-radius: 15px;
}

input[type="text"]{
    width: 484px; /* tamaño - padding izquierdo - - padding derecho por defecto - bordes por defecto (500px - 10px - 2px - 4px) */
    padding-left: 10px;
    margin-bottom: 20px;
}

input[type="submit"]{
    width: 150px;
    height: 2em;
    background-color: #D8D8D8;
    display: block;
    margin: 0 auto;
}

section:nth-child(2)>div{
    width: 150px;
    height: 259px;
    margin: 50px auto 0 auto ;
}

section:nth-child(2)>div>img{
    width: 100%;
    height: 100%;
}

footer>p{
    margin: 0;
}





@media (max-width: 750px){ /* cuando la pantalla sea de menos de 750px de ancho, los enlaces del nav se desplegarán verticalmente */
    body{
        height: 1045px; /* altura de la imagen del header + altura del nav ACTUALIZADO + altura de las secciones + altura del footer*/
        margin: 0 auto;
    }

    nav{
        height: 300px; /* 200px extra de los 2 enlaces desplegados verticalmente */
        background-color: rgb(255, 160, 160);
        margin-bottom: 45px;
    }

    nav>ul>li{
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    nav>ul>li:nth-child(3){ /* repito float none para el tercer li especificamente porque sino no se le quita (comprobado) */
        float: none;
    }
}  